<div class="content">
  <button (click)="onClick()">Post</button>
  <form (ngSubmit)="onSubmit()" [formGroup]="formWrapper">
    <div class="note" *ngFor="let el of form.controls.reverse(); let i = index " (click)='noteClick($event.target)'>
      <div class="note-header">
        <span class="header-id">
          #{{i + 1}}
        </span>
        <input type="text" class='header-input' name="header" id="header-{{i}}" ([formControlName])="i"
          [value]="el.value.header" [disabled]=true #header_input>
      </div>
      <div class="note-content">
        <input type="text" class='content-input' name="content" id="content-{{i}}" ([formControlName])="i"
          [value]="el.value.content">
      </div>
      <div class="note-tags">
        <div class="note-tags-list" *ngFor="let tag of tags(i).value; index as k">
          <a href="#" class="tag-link" id="tag-{{i}}.{{k}}">#{{tag}}</a>
          <button type="button" class="button-delete-tag">
            X
          </button>
        </div>
        <div class="note-tags-add">
          <input type="text" class='input-new-tag' name="tag" id="new-tag-{{i}}" ([formControlName])="i"
            placeholder="Add new tag">
          <button type="button" class="button-add-tag">
            +
          </button>
        </div>
      </div>
      <div class="note-buttons">
        <button class="submit" *ngIf="header_input.disabled" (click)="disableByIndex(i)">
          Change
        </button>
        <button class="submit" *ngIf="!header_input.disabled" (click)="!header_input.disabled">
          Save changes
        </button>
        <button class="submit" *ngIf="header_input.disabled" (click)="removeByIndex(form.length- i - 1)">
          Remove
        </button>
      </div>
    </div>
    <button type="submit" [disabled]="!form.valid" (click)="action()">
      Save
    </button>
  </form>
</div>